<div class="doc">
  <div class="side-nav">
    <ul>
      <li {{#ifCond tab 'getting-started'}}class="selected"{{/ifCond}}><a href="#!/page/doc?tab=getting-started">快速开始</a></li>
      <li {{#ifCond tab 'cli-flags'}}class="selected"{{/ifCond}}><a href="#!/page/doc?tab=cli-flags">命令行参数</a></li>
      <li {{#ifCond tab 'api'}}class="selected"{{/ifCond}}><a href="#!/page/doc?tab=api">API文档</a></li>
      <li {{#ifCond tab 'sample-matfile'}}class="selected"{{/ifCond}}><a href="#!/page/doc?tab=sample-matfile">matfile例子</a></li>
      <!-- <li {{#ifCond tab 'writing-a-plugin'}}class="selected"{{/ifCond}}><a href="#!/page/doc?tab=writing-a-plugin">编写一个mat插件</a></li> -->
    </ul>
  </div>
  <div mx-vframe="true" id="magix_vf_doc" class="main markdown-body"></div>
</div>